data_folder/
dataset_split/
DLA\ WYKRESU/
wykres/

*.onnx
*.h5

venv/
env/
.env
.venv
pip-log.txt
pip-delete-this-directory.txt

__pycache__/
*.py[cod]
*$py.class
.pytest_cache/
.ipynb_checkpoints/

.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
ehthumbs.db
Thumbs.db

*.log
instance/
dist/
build/
*.egg-info/